<!DOCTYPE html>
{% load staticfiles %}
<html lang="es" ng-app="app" class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">



  <title>Triggers</title>
  
    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="static/css/freelancer.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->




</head>
<body>



  <nav class="navbar navbar-dark bg-primary">
    <!-- Toggle Button -->
    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#nav-content">
      ☰
    </button>
    <a href="{% url '/' %}" class="navbar-brand">Triggers </a>

    <div class="collapse navbar-toggleable-xs" id="nav-content">
      <ul class="nav navbar-nav pull-right">


        {% if  user.is_authenticated %}
        <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
        {% endif %}

      </ul>
    </div>
  </nav>







  
  <div class="container-fluid" >
    {% block maincontent %}
    {% endblock maincontent %}
  </div>


 <!-- jQuery -->
    <script src="static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/bootstrap.min.js"></script>

    <!-- AngularJs-->
    <script src="static/bower_components/angular/angular.js"></script>
    <script src="static/bower_components/angular-animate/angular-animate.js"></script>
    <script src="static/bower_components/angular-loader/angular-loader.js"></script>
    <script src="static/bower_components/angular-mocks/angular-mocks.js"></script>
    <script src="static/bower_components/angular-route/angular-route.js"></script>

    <!--Controller-->
    <script src="static/js/app.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="static/js/classie.js"></script>
    <script src="static/js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="static/js/jqBootstrapValidation.js"></script>
    <script src="static/js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="static/js/freelancer.js"></script>

</body>
</html>